figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
  }
  
  figure > * {
    grid-area: 1/1;
    transition: 0.4s;
  }
  
  figure img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: 0.75rem;
    background: var(--c, #0009);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  
  figure:hover figcaption {
    --_i: 0%;
  }
  
  figure:hover img {
    transform: scale(1.2);
  }
  
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
      -webkit-mask: none;
      color: #fff;
    }
  }
  
  .body77 { 
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #17988e;
  }
  .aligner{
      display: flex;
      justify-content: space-between;
  }
  